html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
#logo {
    float: left;
    size: 25px;
    size-adjust: 25px;
} */

header {
    display: flex;
    display: inline-block;
    align-items: center;
    background-color: #262626;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: auto;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin-right: 10vw;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 25px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: #2E8E47;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #2E8E47;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


#aboutdiv {
    position: center;
    background-color: #2E8E47;
    height: 50vh;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 10vh;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 12vh;   /* Height of the footer */
    background: gray;
}

#footerLeft {
    float: left;
    margin-top: 25px;
    margin-left: 20vw;
}

#footerRight {
    float: right;
    margin-top: 25px;
    margin-right: 20vw;
}

#memberH2 {
    position: center;
    margin-left: 45vw;
    margin-top: 10px;
}

#galleryH2 {
    position: center;
    margin-left: 45vw;
    margin-top: 10px;
}

#plansH2 {
    position: center;
    margin-left: 45vw;
    margin-top: 10px;
}

#membershipsH2 {
    position: center;
    margin-left: 35vw;
    margin-top: 30px;
}

#aboutList {
    columns: 2;
    margin-left: 10vw;
}

#aboutP {
    margin-left: 7vw;
}

#termsPage {
    background-color: #262626;
    color: #FCFCFC;
}

#contactInfoDiv {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #262626;
    color: #FCFCFC;
    height: 79vh;
}

#infoTop {
    float: center;
    display: block;
    justify-content: center;
}

#infoBottom {
    float: center;
    display: flex;
    justify-content: center;
}

#membershipOptionsBackground {
    position: center;
    background-color: #2E8E47;
    height: 50vh;
    width: 75vw;
    margin-left: 12vw;
    margin-top: 10vh;
}

#homeBackgroundImage {
    max-width: 100%;
    position: relative;
}

#homeBackground {
   object-fit: contain;
   max-height: 100%;
   max-width: 100%;    
   display: block;
   margin: auto auto;
   overflow: hidden;
}

#homeTextDiv {
    position: absolute;
    bottom: 68vh;
    left: 20vh;
    color: #000000;
}